.controls{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: $controls-height;
  background-color: black;
  color: white;
  display: flex;
  flex-flow: column nowrap;

  .play-pause-global{
    height: 100%;
    display: flex;
    text-align: center;
    line-height: $controls-height;

    .play-global, .pause-global{
      height: inherit;
      width: $controls-height;
      cursor: pointer;
      background-color: rgb(56, 56, 56);
    }
    .play-global.active{
      background-color: $color-green;
    }
    .pause-global.active{
      background-color: $color-red;
    }
  }
}
