.gallery{
  width: 70%;
  margin: auto;
  margin-top: 40px;

  display: flex;
  flex-flow: column nowrap;

  video{
    width: 50%;
    margin: auto;
    margin-bottom: 20px;
    box-shadow: 0px 0px 8px rgba(255, 255, 255, .25);
  }
  .progressbar-container{
    position: absolute;
    height: 5px;

    .progressbar{
      background-color: $color-blue;
      height: inherit;
      transition: width 1s linear;
    }
  }

}
