main.giphy{
  form{
    display: flex;
    flex-flow: row nowrap;
    width: 75%;
    max-width: 700px;
    height: 60px;
    margin: auto;
  }
  input{
    flex-grow: 1;
    border: 2px solid $color-blue;
    border-right: none;
    padding-left: 15px;
  }
  button{
    width: 60px;
    border: 2px solid $color-blue;
    border-left: none;
    background-image: url('../../assets/images/search.svg');
    background-size: 60px;
    cursor: pointer;
  }
}
