// In this file you can keep all your Sass variables.

//Colors
$color-background: #121212;
$color-green: #00FF98;
$color-red: #FF6565;
$color-blue: rgb(55, 55, 255);

//Sizes
$controls-height: 30px;
